body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
  }
/* ขนาดหน้าจอ */
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }  */
  

/* พทหลัง Header */
    /* .header {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        padding: 15px;
        background-color: #FFE5E6;
        border: #0d0e0d 2px solid;
    } */

/* หัวข้อ Products Recommendation
    h1 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
    }  */

/* Main Content */
    .main-content {
        display: flex;
        flex-direction: column;
    }

/* แบ่งพื้นที่ Products และ Recommended Products */
    .product-container {
        display: flex;
        gap: 0px;
       }